@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thank you @ViewBag.Custname for Booking</h1>
    <br><br>
    <p><h3><b>Flight is Booked</b></h3></a>.</p>
    <a asp-controller="Login" asp-action="Welcome">Home</a>
</div>